* {
  padding: 0;
  margin: 0;
  font-family: "poppins", sans-serif;
}

body {
  margin: 0;
  background-color: #222;
  -webkit-font-smoothing: antialiased;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content .city {
  font-weight: 300;
  margin: 0;
}

.content .main-temp {
  font-size: 60px;
  font-weight: 300;
}

.content .W-type {
  font-weight: 200;
}

.content .stats {
  display: flex;
  gap: 15px;
}

.content .stats h3 {
  font-weight: 300;
}

.bottom-content .Hourly-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  gap: 20px;
}

.Hourly-forecast button {
  background: transparent;
  border: none;
  font-weight: bold;
  color: white;
}

.Hourly-forecast .active {
  font-size: 15px;
  color: white;
}
.Hourly-forecast .inactive {
  font-size: 12px;
  color: rgba(216, 216, 216, 70%);
}

.forecast {
  margin-top: 20px;
}

.forecast .card1 {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 400;
  background-color: rgba(72, 42, 157, 40%);
  gap: 16px;
  padding: 14px;
  border-radius: 60px;
  box-shadow: #222;
  margin-inline: 12px;
}

.input-city {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.input-city input {
  width: 250px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.input-city input:focus {
  border-color: #007bff; /* Change the border color on focus */
}
